header
{
    background-color: black;
}
i
{
    color: chartreuse;
    font-size: 2em;
}
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.modal-btn
{
    width: 220px;
    margin: 2%;
    border-radius: 10px;
    box-shadow: white 1px;
}